bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.RemaWareHouse/.idea/encodings.xml
/.idea/.idea.RemaWareHouse/.idea/indexLayout.xml
/.idea/.idea.RemaWareHouse/.idea/misc.xml
/.idea/.idea.RemaWareHouse/.idea/vcs.xml
