bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.RemaWareHouse/.idea/encodings.xml
/.idea/.idea.RemaWareHouse/.idea/indexLayout.xml
/.idea/.idea.RemaWareHouse/.idea/misc.xml
/.idea/.idea.RemaWareHouse/.idea/vcs.xml
Thoughts.aux
Thoughts.fdb_latexmk
Thoughts.fls
Thoughts.log
Thoughts.out
Thoughts.pdf
Thoughts.synctex.gz
